.calendar {
  width: 100%;
  min-width: 270px;
  padding: 28px 26px 32px;
  border: 1px solid var(--rare-border-color);
  border-radius: 8px;
}

.calendar--component {
  max-width: 400px;
}

.calendar--previev {
  max-width: 300px;
  pointer-events: none;
}

@media (max-width: 400px) {
  .calendar--previev {
    min-width: 140px;
    max-width: 180px;
    padding: 14px 13px 16px;
  }
}

.calendar__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;  
  color: var(--calendar-text-color);
  text-align: center;
  margin-bottom: 24px;
}

@media (max-width: 400px) {
  .calendar--previev .calendar__title {
    font-size: 10px;
    line-height: 12px;  
    margin-bottom: 12px;
  }
}

.calendar__wrapper {
  position: relative;
  padding-bottom: 85.71%;
}

.clendar__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.calendar__item {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--calendar-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .calendar--previev .calendar__item {
    font-size: 8px;
    line-height: 10px;
  }
}

.calendar__item--day {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-5);
  align-items: flex-start;
}

@media (max-width: 400px) {
  .calendar--previev .calendar__item--day {
    font-size: 7px;
    line-height: 10px;
  }
}

.calendar__item--target {
  background-color: var(--blue);
  color: var(--white);
}

.calendar__item--interval {
  background-color: var(--calebdar-interval-bg);
  color: var(--calebdar-interval-text-color);
}


