.card {
  padding: 36px 24px;
  background-color: var(--white);
  box-shadow: 0px 2px 4px var(--box-shadow);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  .card {
    padding: 8px 0 0 0;
  }
}

.card__component {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 400px) {
  .card__component {
    padding: 0 8px;
  }
}


.card__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: var(--black);
}

@media (max-width: 400px) {
  .card__title {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 0;
    border-top: 1px solid var(--grey-2);
  }
}

.card__subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--black);
}

@media (max-width: 400px) {
  .card__subtitle {
    display: none;
  }
}