.checkbox__label {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
  user-select: none;
}

.checkbox__input:disabled + .checkbox__label {
  color: var(--grey-2);
}

.checkbox__input:focus + .checkbox__label {
  text-decoration: underline;
}

.checkbox__label::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-color: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 4px;
  margin: 0 12px 0 0;
}


.checkbox__input:checked + .checkbox__label::before {
  background-color: var(--blue);
  border-color: var(--blue);
  background-image: url('../../assets/images/checkbox.svg');
  background-position: center;
  background-repeat: no-repeat;
  animation-name: pulse;
  animation-duration: 0.4s;
}

@keyframes pulse {
  0% {
      box-shadow: 0 0 0 0;
  }
  100% {
      box-shadow: 0 0 0 15px rgba(189, 195, 199, 0);
  }
}



.checkbox__input:disabled + .checkbox__label::before {
  background-color: var(--grey-2);
  border-color: var(--grey-2);
}

