.header {
  position: relative;
  padding: 24px 0;
  background-color: var(--white);
}

@media (max-width: 600px) {
  .header {
    padding: 16px 0;
  }
}

.header--component {
  background-color: var(--grey-6);
}

.header__icon {
  display: block;
  width: 110px;
  height: 32px;
}

@media (max-width: 600px) {
  .header__icon {
    margin: 0 auto;
  }
}

.header__button {
  display: none;
  position: absolute;
  top: 25px;
  border: none;
  background-color: transparent;
  z-index: 5;
  width: 20px;
  height: 14px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .header__button {
    display: block;
  }
}

.header__button .header__button-icon,
.header__button::before,
.header__button::after {
  left: 0;
  position: absolute;
  height: 2px;
  width: 20px;
  transition: all 0.3s ease 0s;
  background-color: #495057;
}

.header__button::before,
.header__button::after {
  content: "";
}
.header__button::before {
  top: 0;
}
.header__button::after {
  bottom: 0;
}
.header__button .header__button-icon {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

._active.header__button .header__button-icon {
  transform: scale(0) translate(0px, -50%);
  background-color: var(--black);
}
._active.header__button::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
  background-color: var(--black);
}
._active.header__button::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
  background-color: var(--black);
}