.header {
  padding-top: 24px;
  padding-bottom: 77px;
  background-color: var(--white);
}

@media (max-width: 600px) {
  .header {
    padding-top: 16px;
    padding-bottom: 69px;
  }
}

.header--component {
  padding: 24px 0;
  background-color: var(--grey-6);
}

@media (max-width: 600px) {
  .header-component {
    padding: 16px 0;
  }
}

.header__icon {
  display: block;
  width: 110px;
  height: 32px;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .header__icon {
    margin: 0 auto 48px;
  }
}

.header--component .header__icon {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .header--component .header__icon {
    margin: 0 auto;
  }
}

.header__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  color: #212429;
}

@media (max-width: 600px) {
  .header__title {
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
  }
}