.menu {
  display: none;
  overflow: auto;
}

@media (max-width: 600px) {
  .menu {
    display: block;
    padding: 0 16px 16px;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: var(--grey-6);
    left: -100vh;
    transition-duration: 0.3s;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
  }
}

@media (min-width: 600px) {
  .menu--components {
    display: block;
  }
}

.menu._active {
  left: 0;
}

.menu__block {
  padding: 24px 0;
  border-top: 1px solid var(--grey-2);
}

@media (min-width: 600px) {
  .menu--components .menu__block {
    border: none;
    padding: 0;
    margin-bottom: 32px;
  }
}

@media (min-width: 600px) {
  .menu--components .menu__block:last-child {
    margin-bottom: 0;
  }
}


@media (min-width: 600px) {
  .menu__theme {
    display: none;
  }
}



.menu__title {
  font-size: 20px;
  line-height: 26px;
  color: var(--grey-3);
  margin-bottom: 16px;
}

@media (min-width: 600px) {
  .menu--components .menu__title {
    color: var(--black);
  }
}

.menu__item {
  margin: 0 0 16px 0;
}

.menu__item:last-child {
  margin-bottom: 0;
}

.menu__item--main-page {
  margin: 32px 0 0 0;
}

@media (min-width: 600px) {
  .menu--components .menu__item {
    margin-bottom: 4px;
  }
}

.menu__link {
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

.menu__link--active {
  color: var(--red);
}

@media (min-width: 600px) {
  .menu--components .menu__link {
    font-size: 14px;
    line-height: 22px;
  }
}





