/*Глобальные стили*/

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  min-width: 375px;
}

.page, 
.content {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .content--lock {
    overflow: hidden;
  }
}

.content--modal-lock {
  overflow: hidden;
}

.main-content {
  flex: 1 1 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}