.skeleton {
  box-sizing: border-box;
  width: 579px;
  height: 192px;
  margin: 50px auto 0;
  padding: 24px 40px 32px 24px;
  background: #FFFFFF;
  border: 1px solid #ACB5BD;
  border-radius: 8px;
}

.skeleton__line {
  height: 20px;
  background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__inner {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.skeleton__avatar {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  background-color: #DDE2E5;
  border-radius: 50%;
}

.skeleton__line--name {
  width: 172px;
  margin-bottom: 8px;
}

.skeleton__line--subname {
  width: 257px;
}

.skeleton__line--text {
  width: 100%;
  margin-bottom: 8px;
}

.skeleton__line--text:last-child {
  margin-bottom: 0;
}